*{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
*:focus {
  outline: none;
}

.bars{
  color: white;
  margin-top: 15px;
  margin-left: 15px;
}

.barsRotated{
  transform: rotate(90deg);
  color: white;
  margin-top: 15px;
  margin-left: 15px;
}
.search{
  color: white;
  margin-top: 8px;
  margin-left: 10px;
}

.chart{
  text-align: center;
  width: 80px;
  height: 80px;
  background-color: #56494e;
  position: fixed;
  margin-top: calc(100vh - 200px);
  margin-left: calc(100vw - 140px);
  border-radius: 100px;
}

.chartLine{
  margin-top: 15px;
  color: white;
}

.cross{
  color: #56494e;
  margin-top: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.wrapper{
  min-height: 100vh;
  background-color: white;

  width: 100vw;
  z-index: 0;

}
.menu{
  z-index: 2;
  width: 100vw;
  height: 80px;
  background-color: #a62739;
}
.openMenu{
  width:80px;
  height: 80px;
  z-index: 3;
  float: left;
  cursor: pointer;
}
.sideMenuOpen{
  transition: 0.2s ease-in-out;
  width: 400px;
  height: 100vh;
  background-color: white;
  position: fixed;
  box-shadow: 0px 0px 10px grey;
}
.sideMenuClosed{
  transition: 0.2s ease-in-out;
  width: 400px;
  height: 100vh;
  background-color: white;
  position: fixed;
  margin-left: -400px;
}

.categories{
  margin-top: 100px;
}
.menuButton{
  font-size: 22px;
  width: 400px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.menuName{
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  height: 80px;
  width: 100%;
  text-align: center;
  line-height: 80px;
  z-index: 2;
}

.searchGrecha{
  font-size: 19px;
  position: absolute;
  width: 250px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background-color: #a62739;
  color: white;
  margin-top: 50px;
  margin-left: calc(50% - 125px);
  margin-top: calc(100vh - 200px);
  cursor: pointer;
}

.closeMenu{
  width:80px;
  height: 80px;
  z-index: 4;
  position: absolute;
  margin-left: calc(100% - 90px);
}
.searchField{
  border: none;
  width: 580px;
  height: 30px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: white;
  z-index: 4;
  font-size: 20px;
}
.searchButton{
  margin-left: 545px;
  position: absolute;
  width: 50px;
  height: 40px;
  background-color: #56494e;
  margin-top: -40px;
  border-radius: 0px 25px 25px 0px;
  cursor: pointer;
}
.inputWrapper{
  margin-left: calc(50% - 300px);
  width: 580px;
  height: 80px;
}

.mainFrame{
  margin-top: 20px;
  width: 80vw;
  margin-left: 10vw;
  text-align: center;
  overflow-x: visible;
}

.title{
  width: 650px;
  text-align: center;
  color: white;
  font-size: 20px;

}
.img{
  float: left;
}
.info{
  padding-top: 20px;
  width: 650px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.weight{
  margin-left: 50px;
  color: white;
  font-size: 25px;
}
.textBlock{
  float: left;
  width: 650px;
  text-align: left;
}

.follow{
  display: block;
  //margin-left: auto;
  width: 200px;
  height: 60px;
  line-height: 60px;
  background-color: white;
  text-decoration: none;
  color: #a62739;
  font-weight: 600;
  font-size: 30px;
  border-radius: 10px;
}

.price{
  margin-left: 50px;
  color: white;
  font-size: 25px;
}
.reseller{
  margin-left: 50px;
  color: white;
  font-size: 25px;
}


.lot{

  margin-top: 50px;
  display: inline-flex;
  width: 1000px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  height: 350px;
  background-color: #a62739;
  border: 2px solid #a62739;

  img{
    width: 350px;
    height: 350px;
  }
}
.graphHolderClosed{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  margin-left: 100vw;
  z-index: 10;
  transition: 0.2s ease-in-out;
}
.graphImage{
  z-index: 10;
  margin-left: 50px;
}
.graphHolderOpened{
  transition: 0.2s ease-in-out;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  margin-left: 0px;
  z-index: 10;
}
.exitGraph{
  z-index: 11;
  position: absolute;
  margin-left: calc(100vw - 120px);

  width: 80px;
  height: 80px;

}